<h3>É o menu do Sistema </h3>
<ul>
    <li>
        <a href ="/coins">Cadastro de Moedas</a>
    </li>
    <li>
        <%= link_to "Cadastro de Moedas", coins_path %>
    </li>
    <li>
        <%= link_to "Cadastro de Tipos de Numeração", mining_types_path %>
    </li>
</ul>